body{
    text-align:center;
    background-color:#F2E7CB !important;
}
.top{
    color:orange;
    background-color:#F2E7CB !important;
    margin: 0px;
    padding: 0px;
}
.search_bar{
    justify-content:right;
}
.top_Nav{
 width:100%;
}
.top_right{

}
.bottom{
    background-color:orange;
    color:white;
}
.bottom a{
    color:white;
}
.bottom a:hover{
    color:#f0682d!important;
}
.navbar-light .navbar-nav .nav-link{
    color:rgba(0,0,0,.5) !important;
}
.nav-item{
    padding-left:15px;
    padding-right:15px;
    font-size:25px;
}






/* Create Page */

/** {box-sizing: border-box}*/

/* Full-width input fields */
  input[type=text], input[type=password] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}

input[type=text]:focus, input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}

hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}

/* Set a style for all buttons */
button {
  background-color: #f4b942;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}

button:hover {
  opacity:1;
}

/* Extra styles for the cancel button */
.cancelbtn {
  padding: 14px 20px;
  background-color: #f47a42;
}

/* Float cancel and signup buttons and add an equal width */
.cancelbtn, .signupbtn {
  float: left;
  width: 50%;
}

/* Add padding to container elements */
.container {
  margin: auto;
  width: 50%;
  padding: 16px;
  text-align: left;
  background-color: orange;
}

/* Clear floats */
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

/* Change styles for cancel button and signup button on extra small screens */
@media screen and (max-width: 300px) {
  .cancelbtn, .signupbtn {
    width: 100%;
  }
}

/* About Page */
.container{
   text-align: left;
   background-color: orange;
   margin-left: 400px;
   margin-top: 50px;
   color:white;
}

